#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

button.MuiTab-root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: auto;
}

div.MuiTabs-flexContainer {
  gap: 43px;
}

.css-d70gcg-MuiButtonBase-root-MuiMenuItem-root+.MuiDivider-root {
  margin: 0;
}